


header, main, footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6c757d;
  text-align: center;
  background-color: #f8f9fa;
}

ul, ol {
  margin: 25px;
  padding: 25px;
}

