img {
  max-width: 18rem;
  max-height: 30rem;
}

header {
/* make the header stand out but still be readable */
  font-family: Copperplate, Papyrus, fantasy;
  color: white;
  background-color: #2F4F4F;  
  text-align: center;
}

main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6c757d;
  background-color: #f8f9fa;
  text-align: center;
}

p {
/* make the paragraphs confined toward the middle of the page */
  margin-left: 300px;
  margin-right: 300px;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
/* main heading should be larger than the rest of the text */
  font-size: 50px;
}

h2 {
  color: #2F4F4F; 
}

a {
  font-size: 17px;
}

/* use pseudo classes to change how the links behave */
a:link    { color: #6c757d;  }
a:visited { color: #2F4F4F;   }
a:hover   { color: green; }
a:active  { color: black;  }

footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6c757d;
  background-color: #f8f9fa;
  text-align: center;
}

hr {
/* style the break from the main content to the footer */
  height: 5px;
  border: 7px solid black;
  background-color: black;
}

ul {
/* the list should be aligned to the left but in a smaller space under the paragraph */
  text-align: left;
  margin-top: 10px; 
  margin-bottom: 10px;
  margin-left: 500px;
}

ol {
/* the list of links should be aligned to the left but in a much smaller space under the footer */
  text-align: left;
  margin-left: 645px;
}